.Btn{
    margin-top: 100px;
    margin-left: -300px;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    font-weight: bold;
    background-color: rgb(188, 188, 188);

}

span{
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
}
